/* quiz */
.quiz {
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid var(--verde-escuro-cor);
    padding-block: 24px;
    padding-inline: clamp(16px, 4.131vw + 0.507px, 60px);
    margin-inline: clamp(62px, 14.048vw - 22.286px, 180px);
    margin-block: 40px;
    font-size: clamp(1rem, 0.868rem + 0.5634vw, 1.375rem); /* 1440px --> 375px, 22px --> 16px */
    text-align: justify;
    font-weight: 500;
    pointer-events: none; /* vai ser overwritten se o user estiver logado, vide login-signup.js */
}

.quiz__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 20%;
    font-size: clamp(24px, 1.127vw + 19.775px, 36px); /* 1440px --> 375px */
    text-align: center;
    font-weight: 800;
    color: var(--verde-claro-cor);
}

.quiz > h2 {
  color: var(--verde-escuro-cor);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-block-end: 14px;
}

.quiz__question {
  margin-block-end: 15px;
}

.quiz > p {
  text-align: center;
  margin-block-end: 20px;
  color: var(--marrom-escuro-cor);
  font-weight: 600;
}

.quiz__question__number {
  font-weight: 1000;
  color: var(--verde-cor);
}

.quiz__question__option {
  padding-inline-start: 20px;
}

.quiz button {
  display: block;
  padding: 8px 48px;
  background-color: var(--verde-cor);
  color: white;
  border-radius: 12px;
  margin-block: 20px;
  margin-inline: auto;
  border: none;
  outline: none;
  font-size: clamp(17px, 0.188vw + 16.296px, 19px); /* 1440px --> 375px */
  transition: all 0.2s ease-in-out;
}

.quiz button:hover {
  transform: scale(1.1);
  background-color: var(--verde-escuro-cor);
  cursor: pointer;
}

.quiz button:focus {
  border: 1px outset slategray;
}


input[value="v"] {
  accent-color: green;
}

input[value="f"] {
  accent-color: red;
}

.quiz__answer-marker {
  position: relative;
  top: -1.5px;
  margin-inline-start: 6px;
  font-size: 15px;
}

.quiz__result {
  position: absolute;
  right: 10px;
  bottom: 8px;
  font-weight: 900;
  font-size: 20px;
}

.quiz__result--passed {
  color: green; 
  letter-spacing: 1px;
}


/* responsividade */
@media only screen and (max-width: 650px) {
  .quiz {
    margin-inline: clamp(10px, 23.111vw - 76.667px, 62px); /* 650px --> 375px */
    margin-block: clamp(10px, 13.333vw - 40px, 40px); /* 650px --> 375px */
  }
}
