footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  background-color: var(--verde-escuro-cor);
}

footer > address {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 1.1rem;	
}

footer > address > img {
  height: 24px;
}

footer > address > a {
  color: inherit;
  font-style: normal;
  text-decoration: none;
}
