* {
    padding: 0%;
    margin: 0%;
}
.cabecalho {
    background-color: #527675;
    display: flex;
    width: 100%;
    text-align: center;
    top: 0;
    z-index: 1000;
    position: sticky;
}
.entrar {
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
    padding: 20px 20px;
    padding-left: 75%;
}
.registro {
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
    padding: 20px 20px;
}
.home {
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
    padding: 20px 20px;
}
body {
    min-height: 100svh;
    background: linear-gradient(to bottom, #88BDBC, #DDDDDD 100%);
}
.quadrado {
    width: 80%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.5); /* Cor de fundo */
    border: 2px solid #000;
    padding: 10px;
    margin: 20px auto;
    margin-top: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;  /* Alinha o texto verticalmente */
    justify-content: center; /* Alinha o texto horizontalmente */
    flex-direction: column;
    text-align: left;
}
ol{
    margin: 10ox;
}
