body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
}

.box {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid #888; 
    padding: 20px;
}

.linha {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
}

label {
    font-weight: 600;
    font-size: 18px;
}

input {
    border-radius: 5px;
    padding: 8px;
    border: 1px solid #aaa;
    color: #555;
    width: 300px;
    font-size: 16px;
}

button {
    background-color: #007bff;
    border-radius: 5px;
    padding: 8px 15px;
    border: 1px solid #020202;
    color: #ffe;
    font-size: 16px;
}

/* Estilo quando o botão ou campo de entrada está focado */
button:focus,
input:focus {
  outline: none; /* Remove o contorno padrão de foco */
  border-color: #007bff; /* Altera a cor da borda quando focado */
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25); /* Adiciona um efeito de foco */
}

.msg-erro {
    display: none;
    color: red;
    font-weight: bold;
    margin-top: 10px;
}