* {
    padding: 0%;
    margin: 0%;
}

ul, ol {
    list-style-type: none;
}

.cabecalho {
    background-color: #527675;
    display: flex;
    width: 100%;
    text-align: center;
    top: 0;
    z-index: 1000;
    position: sticky;
}
.entrar {
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
    padding: 20px 20px;
    padding-left: 75%;
}
.registro {
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
    padding: 20px 20px;
}
.home {
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
    padding: 20px 20px;
}
body {
    min-height: 100svh;
    background: linear-gradient(to bottom, #88BDBC, #3e5756 100%);
}
.quadrado {
    background-color: rgba(255, 255, 255, 0.5); /* Cor de fundo */
    border: 2px solid #000;
    padding: clamp(16px, 4.131vw + 0.507px, 60px);
    margin-inline: clamp(62px, 14.048vw - 22.286px, 180px);
    margin-block: 40px;
    font-size: clamp(16px, 0.939vw + 12.479px, 26px);
    text-align: center;
    font-family: "Inter";
}

h1 {
    margin-bottom: 10px;
}
/*
@media (max-width: 700px){
    .quadrado{
        font-size: 16px;
        width: 70%;
    }
}   
@media (max-width: 701px)and(min-width:1200){
    .quadrado{
        width: 50%;
        font-size: 18px;
    }
}
@media (min-width: 1201px){
    .quadrado{
        font-size: 20px;
        padding: 40px;
        width: 87%;
    }
}
*/

.retangulo {
    width: 50px; /* Largura do retângulo */
    height: 350px; /* Altura do retângulo */
    background-color: #4f4a41; /* Cor de fundo */
    border-top-left-radius: 0; /* Bordas arredondadas no canto superior esquerdo */
    border-top-right-radius: 20px; /* Bordas arredondadas no canto superior direito */
    border-bottom-left-radius: 0; /* Sem arredondamento na parte inferior esquerda */
    border-bottom-right-radius: 20px; /* Sem arredondamento na parte inferior direita */
    position: fixed;
    left: 0%;
    top: 50%;
    transform: translateY(-50%);
    display: grid;
    place-items: center;
}

.circulo {
    width:20px;
    height:20px;
    background-color:#d9d9d9;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.botaoA {
    width: 150px;;
    height: 40px;;
    background-color:#383838;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
   
}
.textodobotao {
    color: #ffff;
    font-family: "Inter", sans-serif;
}
.botaoP {
    width: 200px;;
    height: 40px;;
    background-color:#383838;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 100% ;
}


.bloco-conteudo {
    margin-bottom: 20px;
}
.botao{
    align-items: center;
    width: 90%;
}
@media only screen and (max-width: 600px) {
    .retangulo {
        display: none;
    }
    .quadrado {
        margin-inline: 0;
        margin-block: 0;
        border: none;
    }
}
